/** Breakpoints */
$gap:                             32px;
$maxx:                            1700px;
$minimaxx:                        1470px;
$fullhd:                          1344px + (2 * $gap); //1408
$widescreen:						          1153px + (2 * $gap); //1217
$desktop:				                  960px + (2 * $gap); //1024
$touch:                           1023px;
$mid-touch:                       920px;
$tablet:                          768px;
$phonewide:                       767px;
$phoneWide:                       767px;
$phonewde:                        767px;
$oddphone:                        660px;
$phonevert:                       420px;
$phoneVert:                       420px;
