/** Compliancy */
.skip-link {
  background-color: #fff;
  -webkit-box-shadow: 0 0 2px 2px hsla(0,0%,4%,.6);
  box-shadow: 0 0 2px 2px hsla(0,0%,4%,.6);
  color: #b64a64;
  display: block;
  font-family: Open Sans,sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: auto;
  left: 6px;
  line-height: normal;
  padding: 15px 23px 14px;
  position: absolute;
  text-decoration: none;
  top: -100px;
  -webkit-transition: top .75s ease-out;
  -o-transition: top .75s ease-out;
  transition: top .75s ease-out;
  width: auto;
  z-index: 100000;
}

.screen-reader-text {
  display: none;
  background: #fff;
  border: 0;
  clip: rect(0,0,0,0);
  color: #000;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

[data-whatintent='mouse'] *:focus {
  outline: none;
}

[data-whatintent='keyboard'] *:focus {
  outline: 1px dashed #ccc;
}
