/* Dual Col Blocks */
.dual-col-blocks {
  overflow: hidden;
  margin-bottom: 40px;
  padding: 20px 0;
  position: relative;

  &:only-of-type {
    margin-bottom: 0 !important;
  }

  @include tablet {
    padding: 10px 0;
    margin-bottom: 15px;
  }

  &.reverse-sides {
    .columns {
      flex-direction: row-reverse;

      @include phonewide {
        flex-direction: column-reverse;
      }
    }
  }

  .columns {
    @include phonewide {
      text-align: center;
    }

    &.reversedcols {
      @include phonewide {
        flex-direction: column-reverse;
      }
    }

    h2 {
      &:after {
        @include phonewide {
          display: none;
        }
      }
    }

    p {
      img {
        &.alignleft,
        &.alignright {
          &:after {
            clear: both;
            content: '';
            display: inline-block;
            width: 100%;
          }
        }
      }
    }

    ul {
      @include phonewide {
        margin-left: 0;
      }

      li {
        @include phonewide {
          padding-bottom: 0 !important;
          list-style-type: none;
        }
      }
    }
  }

  &.invert-bg {
    // background: #f7f7f6;
    .column {
      &:first-of-type {
        background: #f8f8f8;
        padding-bottom: 20px;
        padding-top: 20px;
        position: relative;

        &:before {
          content: '';
          display: inline-block;
          background: $sidebarBGAfter;
          position: absolute;
          left: -100%;
          z-index: -1;
          top: 0;
          height: 100%;
          width: 100%;

          @include touch {
            display: none;
          }
        }
      }
    }

    .map-bg {
      left: -150px;
      position: relative;
      top: 70px;
      width: 110%;

      @include widescreen {
        left: 0;
        top: 0;
        width: 100%;
      }
    }
  }

  img.bg-icon {
    position: absolute;
    display: inline-block;
    margin-left: -25%;
    margin-top: -5%;
    width: auto;
    max-width: 50%;
    opacity: 0.02;
    top: 0;
    z-index: -1;

    &.service {
      margin-left: -20%;
      margin-top: -2%;
      left: 0;
      opacity: 0.08;
      top: 0;
      z-index: 1;
    }
  }

  img.alignleft,
  img.alignright,
  img.aligncenter {
    border: 0 !important;
    padding-bottom: 10px;
    max-width: 95%;
  }
}
