/** Breadcrumbs */
$breadcrumb-link: #ccc;
$breadcrumb-link_hover: #ccc;
$breadcrumb-link_font: $primaryFontFamily;
$breadcrumb-link_fontW: $primaryFontWeightMed;
$breadcrumb-link_fontS: 15;
$breadcrumb-link_margin: 3px;
$breadcrumb-link_fontSep: 12;
$breadcrumb-link_SepPos: 0;
