/** List Styles */
$list-margin:                     10px 0;
$list-padding:                    0;
$base-list-color:                 $paragraph-color;
$list-item-width-size1:           100%;
$list-item-width-size2:           100%;
$list-item-padding:               0 0 5px 0;
