/** Tables */
$table-color:                     #333;
$thead-fw:                        500;
$table-background-color:          $white;
$table-cell-border:               0;
$table-cell-border-width:         $white;
$table-cell-padding:              15px 10px;
$table-cell-heading-color:        $primary_link;
$table-head-cell-border-width:    0;
$table-head-cell-color:           #333;
$table-foot-cell-border-width:    0;
$table-foot-cell-color:           #f5f5f5;
$table-row-hover-background-color: $white;
$table-row-active-background-color: #f5f5f5;
$table-row-active-color:           $primary_lightgrey;
$table-striped-row-even-background-color: #f5f5f5;
$table-striped-row-even-hover-background-color: #f5f5f5;
