/* hero h1 */
$heroH1Color: #333;
$heroH1Font: $primaryTitleFont;
$heroH1FW: 800;
$heroH1Size: 30;
$heroH1LH: 34px;
$heroH1Margin: 0 0 10px 0;
$heroH1Padding: 0;
/* hero-h1-widescreen */
$heroH1Size2: 28;
$heroH1LH2: 32px;
$heroH1Margin2: 0 0 10px 0;
$heroH1Padding2: 0;
/* welcome-h1-midtouch */
$heroH1Size3: 24;
$heroH1LH3: 30px;
$heroH1Margin3: 0 0 3px 0;
$heroH1Padding3: 0;
/* hero-h1-phonewide */
$heroH1Size4: 22;
$heroH1LH4: 28px;
$heroH1Margin4: 0 0 8px 0;
$heroH1Padding4: 0;

/* welcome h1 */
$welcomeH1Color: $primary_hover;
$welcomeH1Font: $primaryFontFamily;
$welcomeH1FW: 400;
$welcomeH1Size: 34px !important;
$welcomeH1LH: 50px;
$welcomeH1Margin: 0 0 10px 0;
$welcomeH1Padding: 0;
/* welcome-h1-widescreen */
$welcomeH1Size2: 30px !important;
$welcomeH1LH2: 44px;
$welcomeH1Margin2: 0 0 10px 0;
$welcomeH1Padding2: 0;
/* welcome-h1-midtouch */
$welcomeH1Size3: 28px !important;
$welcomeH1LH3: 40px;
$welcomeH1Margin3: 0 0 3px 0;
$welcomeH1Padding3: 0;
/* welcome-h1-phonewide */
$welcomeH1Size4: 24px !important;
$welcomeH1LH4: 34px;
$welcomeH1Margin4: 0 0 8px 0;
$welcomeH1Padding4: 0;

/* welcome h2 */
$welcomeH2Color: $primary_hover;
$welcomeH2Font: $primaryFontFamily;
$welcomeH2FW: 700;
$welcomeH2Size: 26px;
$welcomeH2LH: 40px;
$welcomeH2Margin: 0 0 10px 0;
$welcomeH2Padding: 0;
/* welcome-H2-widescreen */
$welcomeH2Size2: 24px;
$welcomeH2LH2: 36px;
$welcomeH2Margin2: 0 0 10px 0;
$welcomeH2Padding2: 0;
/* welcome-H2-midtouch */
$welcomeH2Size3: 22px;
$welcomeH2LH3: 30px;
$welcomeH2Margin3: 0 0 8px 0;
$welcomeH2Padding3: 0;
/* welcome-H2-phonewide */
$welcomeH2Size4: 22px;
$welcomeH2LH4: 30px;
$welcomeH2Margin4: 0 0 6px 0;
$welcomeH2Padding4: 0;

/* welcome h3 */
$welcomeH3Color: $primary;
$welcomeH3Font: $primaryTitleFont;
$welcomeH3FW: $primaryTitleFontWeightBold;
$welcomeH3Size: 30px;
$welcomeH3LH: 40px;
$welcomeH3Margin: 0 0 10px 0;
$welcomeH3Padding: 0;
/* welcome-H3-widescreen */
$welcomeH3Size2: 30px;
$welcomeH3LH2: 40px;
$welcomeH3Margin2: 0 0 10px 0;
$welcomeH3Padding2: 0;
/* welcome-H3-midtouch */
$welcomeH3Size3: 28px;
$welcomeH3LH3: 38px;
$welcomeH3Margin3: 0 0 3px 0;
$welcomeH3Padding3: 0;
/* welcome-H3-phonewide */
$welcomeH3Size4: 26px;
$welcomeH3LH4: 36px;
$welcomeH3Margin4: 0 0 8px 0;
$welcomeH3Padding4: 0;

/* welcome h4 */
$welcomeH4Color: $primary;
$welcomeH4Font: $primaryTitleFont;
$welcomeH4FW: $primaryTitleFontWeightBold;
$welcomeH4Size: 22px;
$welcomeH4LH: 40px;
$welcomeH4Margin: 5px 0 10px 0;
$welcomeH4Padding: 0;
/* welcome-H4-widescreen */
$welcomeH4Size2: 22px;
$welcomeH4LH2: 40px;
$welcomeH4Margin2: 5px 0 10px 0;
$welcomeH4Padding2: 0;
/* welcome-H4-midtouch */
$welcomeH4Size3: 20px;
$welcomeH4LH3: 38px;
$welcomeH4Margin3: 5px 0 10px 0;
$welcomeH4Padding3: 0;
/* welcome-H4-phonewide */
$welcomeH4Size4: 18px;
$welcomeH4LH4: 36px;
$welcomeH4Margin4: 3px 0 8px 0;
$welcomeH4Padding4: 0;

/*Main H1*/
$mainH1Color: $primary;
$mainH1Font: $primaryFontFamily;
$mainH1FW: $primaryFontWeightBold;
$mainH1Size: 28px;
$mainH1LH: 42px;
$mainH1Margin: 0 0 15px 0;
$mainH1Padding: 0;
$mainH1Transform: none;
$mainH1Style: normal;
$mainH1Spacing: 0;
/* main-h1-widescreen */
$mainH1Size2: 24px;
$mainH1LH2: 40px;
$mainH1Margin2: 0 0 10px 0;
$mainH1Padding2: 0;
/* main-h1-midtouch */
$mainH1Size3: 22px;
$mainH1LH3: 38px;
$mainH1Margin3: 0 0 5px 0;
$mainH1Padding3: 0;
/* main-h1-phonewide */
$mainH1Size4: 22px;
$mainH1LH4: 38px;
$mainH1Margin4: 0 0 5px 0;
$mainH1Padding4: 0;

/*Main H2*/
$mainH2Color: $primary_hover;
$mainH2Font: $primaryFontFamily;
$mainH2FW: 400;
$mainH2Size: 28;
$mainH2LH: 38px;
$mainH2Margin: 0 0 8px 0;
$mainH2Padding: 0;
$mainH2Transform: none;
$mainH2Style: normal;
$mainH2Spacing: 0;
/* main-H2-widescreen */
$mainH2Size2: 26;
$mainH2LH2: 36px;
$mainH2Margin2: 0 0 8px 0;
$mainH2Padding2: 0;
/* main-H2-midtouch */
$mainH2Size3: 24;
$mainH2LH3: 34px;
$mainH2Margin3: 0 0 3px 0;
$mainH2Padding3: 0;
/* main-H2-phonewide */
$mainH2Size4: 20;
$mainH2LH4: 30px;
$mainH2Margin4: 0 0 3px 0;
$mainH2Padding4: 0;

/*Main H3*/
$mainH3Color: $primary;
$mainH3Font: $primaryFontFamily;
$mainH3FW: 400;
$mainH3Size: 24;
$mainH3LH: 30px;
$mainH3Margin: 0 0 10px 0;
$mainH3Padding: 0 0 2px 0;
/* main-h3-widescreen */
$mainH3Size2: 24;
$mainH3LH2: 32px;
$mainH3Margin2: 0 0 10px 0;
$mainH3Padding2: 0;
/* main-h3-midtouch */
$mainH3Size3: 22;
$mainH3LH3: 24px;
$mainH3Margin3: 0 0 8px 0;
$mainH3Padding3: 0;
/* main-h3-phonewide */
$mainH3Size4: 18;
$mainH3LH4: 24px;
$mainH3Margin4: 0 0 5px 0;
$mainH3Padding4: 0;

/*Main h4*/
$mainh4Color: $primary_link;
$mainh4Font: $primaryFontFamily;
$mainh4FW: 500;
$mainh4Size: 18;
$mainh4LH: 28px;
$mainh4Margin: 0;
$mainh4Padding: 0 0 2px 0;
/* main-h4-widescreen */
$mainh4Size2: 16;
$mainh4LH2: 26px;
$mainh4Margin2: 0 0 3px 0;
$mainh4Padding2: 0;
/* main-h4-midtouch */
$mainh4Size3: 20;
$mainh4Lh4: 24px;
$mainh4Margin3: 0 0 8px 0;
$mainh4Padding3: 0;
/* main-h4-phonewide */
$mainh4Size4: 18;
$mainh4LH4: 24px;
$mainh4Margin4: 0 0 5px 0;
$mainh4Padding4: 0;
