/** Default Links */
$more-color:                      $primary_link;
$more-color_hover:                $primary_hover;
$moreBasic_hover:                 $primary_hover;
$linkTransition:                  0.3s linear;
$button-fontfam:                  $primaryFont;
$button-fontwt:                   400;
$buttonNostyle-bg-color:          $primary_link;
$buttonNostyle-bg-color_hover:    transparent;
$buttonNostyle-font-size:         $mainParaSize;
$buttonNostyle-font-size2:        $mainParaSize2;
$buttonNostyle-font-size3:        $mainParaSize3;
$buttonNostyle-font-size4:        $mainParaSize4;
$buttonNostyle-icon-size:         17px;
$buttonStyled-bg-color:           $primary_brand-hover;
$buttonStyled-bg-color_hover:     #fff;
$buttonStyled-font-size:          $mainParaSize;
$buttonStyled-font-size2:         $mainParaSize2;
$buttonStyled-font-size3:         $mainParaSize3;
$buttonStyled-font-size4:         $mainParaSize4;
$buttonStyled-icon-size:          14px;
$buttonMore-icon-size:            11;
$buttonMore-icon-size2:           11;
$buttonMore-icon-size3:           11;
$buttonMore-icon-size4:           11;
$buttonStyled-icon-ml:            3px;
$buttonStyled-padding:            10px 30px;
$buttonStyled-padding2:           10px 30px;
$buttonStyled-padding3:           10px 24px;
$buttonStyled-padding4:           10px 24px;
$buttonStyledLG-padding:          15px 25px;
$buttonStyledLG-padding2:         15px 25px;
$buttonStyledLG-padding3:         10px 20px;
$buttonStyledLG-padding4:         10px 20px;
$buttonStyled-border:             1px solid $primary_brand-hover;
$buttonStyled-border_hover:       1px solid $primary_brand-hover;
$buttonStyled-borderRadius:       30px;
$buttonStyled-linkcolor:          #fff;
$buttonStyled-linkcolor_hover:    $primary_brand-hover;
$buttonStyled-texttransform:      none;
$buttonStyled-padding_header:     14px 30px !important;
$buttonStyled-padding_header2:    10px 20px !important;
$buttonStyled-padding_header3:    8px 18px !important;
