/** Social Media Links */
$social-shape: 0;
$social-shape-background: transparent;
$social-shape-background_hover: transparent;
$social-shape-border: 1px solid transparent;
$social-shape-border_hover: transparent;
$social-shape-float: left;
$social-shape-height: 20px;
$social-shape-width: 20px;
$social-icon-color: rgba(255, 255, 255, 0.7);
$social-icon-color_hover: rgba(255, 255, 255, 1);
$social-icon-size: 16px;
$social-shape-height-size2: 20px;
$social-shape-width-size2: 20px;
$social-icon-size-size2: 16px;
$social-shape-height-size3: 20px;
$social-shape-width-size3: 20px;
$social-icon-size-size3: 16px;
$social-shape-height-size4: 20px;
$social-shape-width-size4: 20px;
$social-icon-size-size4: 16px;
// $social-shape-height-size2: 55px;
// $social-shape-width-size2: 55px;
// $social-icon-size-size2: 20px;
// $social-shape-height-size3: 50px;
// $social-shape-width-size3: 50px;
// $social-icon-size-size3: 15px;
