/** Grid Structure */
$maxwidth-cols:						        1440px;
$column-gap:                      0.75rem;
$is-widescreen:                   100%;
$spacer:                          2rem;
$fw:                              100% !important;
