/** Sitemap */
section.sitemap-links {
  margin-bottom: 50px;
  padding-top: 20px;

  ul.children {
    display: inline-block !important;
    font-size: 90% !important;
    width: 100% !important;
    margin-top: 10px !important;
  }
}
